@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&d display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font=family: 'Poppins', sans-serif;
}
.container {
  position: absolute;
  top: 75px;
  height: calc(100% - 75px);
  max-width: 100vw;
}
body {
  overflow: auto;
  background: white;
}
body .navbar {
  min-width: 560px;
  width: 100vw;
  height: 70px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  padding: 0px 5%;
  background: #fff;
  position: fixed;
  display: flex;
  z-index: 1000;
}
body .navbar ul {
  padding-top: 20px;
  display: block;
  list-style: none;
  max-height: 70px;
  float: right;
}
.navbar-button .Button {
  padding: 5px 10px 5px 10px;
  margin-right: 3px;
  margin-left: 3px;
}
body .navbar ul li {
  display: inline-block;
  position: relative;
  float: left;
}
body .navbar ul li a {
  font-family: "Montserrat";
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
}
body .navbar ul li ul {
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
  background: white;
}
body .navbar ul li ul li {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
body .navbar ul li:focus-within > ul,
body .navbar ul li:hover > ul {
  display: block;
}
body .navbar ul li #separating-line {
  width: 10px;
  height: 30px;
  background-color: green;
}
body .navbar ul li img {
  transform: translateY(-10%);
  position: relative;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid;
}
body .navbar ul li img.Active {
  border-color: #6FCF97;
}
body .navbar ul li img.Away {
  border-color: #F9C18D;
}
body .navbar ul li img.Do.Not.Disturb {
  border-color: #F9938D;
}
body .navbar ul li img.Inactive {
  border-color: #C0C0CC;
}
body .navbar ul li a.current  {
  font-weight: bolder;
}
.swiper {
  width: 1000px;
  height: 300px;
}
.swiper-slide img {
  height: 100%;
}
.split {
}
.flex-box-column {
  display: flex;
  flex-flow: column;
  height: 100%;
}
h1 {
  font-weight: bold;
  font-family: 'Quicksand';
}
h5 {
  font-family: 'Montserrat';
  font-weight: lighter;
}
h6 {
  font-family: 'Quicksand';
}
form {
  display: grid;
  justify-content: center;
}
.form-label {
  min-width: 320px;
  max-width: 400px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bolder;
}
.form-control {
  min-width: 400px;
  width: 25vw;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(31,32,65,0.25);
}
.Button {
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Montserrat';
  background-color: #FFF;
  padding: 15px 25px 15px 25px;
  letter-spacing: 1px;
  border-radius: 24px;
}
.Button.Main {
  color: #BC9CFF;
  border:2px solid #0000;
  border-radius: 24px;
  background:
    linear-gradient(white,white) padding-box,
    linear-gradient(#BC9CFF, #8BA4F9) border-box;
}
.Button.Secondary {
  color: #FFF;
  border-style: none;
  background-image: linear-gradient(#BC9CFF, #8BA4F9);
}
.form-input {
  vertical-align: middle;
  padding-right: 50px;
  display: flex;
  list-style: none;
  width: 50%;
  align-self: center;
}
.radio-label {
  font-family: 'Montserrat';
}
.form-check {
  list-style: none;
  font-family: "Montserrat";
  font-size: large;
  display: inline-flex;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #8BA4F9;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-image: linear-gradient(#BC9CFF, #8BA4F9);
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
form {
  justify-content: center;
  width: 100vw
  padding: 12px 20px;
}
.input-wrap {
  display: grid;
  justify-content: center;
}
.user-input {
  min-width: 320px;
  max-width: 60%;
  margin: 0 auto;
}
.radio-input {
  display: flex;
  text-indent: 10px;
  font-family: 'Montserrat';
}
.radio-input.choice-4 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.dot {
  display: flex;
  margin-right: 20px;
  margin-bottom: 5px;
}
.dash-grid {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboard-wrap {
  display: grid;
  justify-content: center;
}
.dash-grid > * {
  flex: 0 0 33.3333%;
}
.dash-grid .commission-wrap {
  min-width: 350px;
  border-radius: 6px;
}
.dash-search {
  display: inline-flex;
  justify-content: flex-end;
}
.sort-by {
  justify-content: flex-start;
}
.commission-wrap {
  margin: 6px;
  position: relative;
  font-family: 'Quicksand';
  background-color: #1F2041;
  max-width: 350px;
  width: 350px;
  max-height: 350px;
  height: 350px;
  color: white;
}
.commission-wrap.commission-slide {
  width: 250px;
  height: 250px;
}
.dashboard-form {
  display: grid;
  min-height: 50px;
  grid-template-columns: 33% 67%;
  width: 90vw;

}
.form-control.dash {
  min-width: 160px;
  max-width: 200px;
}
.form-control.dash.search {
  max-width: 400px;
}
@media (max-width:573px) {
  .form-control.dash.search {
    width: 300px;
  }
  .dashboard-form {
    grid-template-columns: 100%;
    row-gap: 5px;
    min-height: 82px;
  }
  .dash-search {
    justify-content: space-between;
  }
  .sort-by {
    grid-row: 2;
  }
  .logo {
    position: absolute;
    opacity: 0;
  }
  body .navbar {
    padding: 0 0;
  }
  body nav ul .link-list {
    width: 95vw;
    display: inline-flex;
    justify-content: center;
  }
}
.cover-image img {
  width: 350px;
  height: 350px;
  object-fit: fill;
}
.slide-cover-image img {
  width: 250px;
  height: 250px;
  object-fit: fill;
}
.title {
  font-size: large;
  font-weight: bolder;
  text-decoration: underline;
  color: white;
}
.description {
  font-size: medium;
}
.info {
  font-size: medium;
  color: #6FCF97;
}
.status {
  position: absolute;
  top: 35px;
  left: -5px;
}
.information-wrap {
  position: absolute;
  bottom: 10px;
  left: 16px;
}
.favourite-icon {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 16px;
  max-height: 44px;
}
.favourite-icon p {
  position: absolute;
  bottom: -5px;
  right: 25px;
}
.title-and-description {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.profile-wrapper {
  font-family: "Quicksand";

  width: 360px;
  height: 360px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile-wrapper.dashboard {
  margin: 10px;

}
.profile-wrapper .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 48px;
}
.profile-card-title {
  font-weight: bolder;
  font-size: medium;
}
.profile-card-info {
  font-size: medium;
  color: #1F2041;
  color: rgba(0,0,0,0.5);
}
.profile-wrapper .message-icon {
  position: absolute;
  padding: 20px 0 0 20px;
}
.profile-inner {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.profile-inner-wrap {
  width: 50%;
}
.profile-wrapper .bio-buttons {
  position: relative;
  bottom: 0;
}
.profile-col {
  width: 95vw;
  padding-right: 0;
  left: 0;
  display: grid;
}

.bio-buttons {
  position: absolute;
  top: 125px;
}
.file-wrap {
  display: flex;
  grid-template: 1fr / 1fr;
  justify-content: center;
}
.user-input.file > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.upload-file {
  position: absolute;
  object-fit: fill;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  z-index: 2;
}
.display-image {
  position: absolute;
  object-fit: fill;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  z-index: 1;
}
.image-input {
  width: 150px;
  height: 150px;
  border-radius: 80px;
	opacity: 0%;
	overflow: hidden;
	z-index: 3;
  position: absolute;
}
.file-outline {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border:2px solid #0000;
  background:
    linear-gradient(white,white) padding-box,
    linear-gradient(#BC9CFF, #8BA4F9) border-box;
  z-index: 0;
}
.file-outline p {
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Montserrat';
  background: -webkit-linear-gradient(#BC9CFF, #8BA4F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(+250%);
}
.page-display {
  display: flex;
}
.rating {
  position: flex;
  width: 50%;
  top: 50px;
  display: flex;
  transform: translateX(50%) rotateY(180deg);
}
.rating label {
  width: 50px;
  height: 50px;
  display: block;
}
.rating input {
  display: none;
}
.rating label:before {
  content: '\f005';
  font-family: fontawesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: #8BA4F9;
}
.rating label:after {
  content: '\f005';
  font-family: fontawesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: #1F2041BF;
  opacity: 1;
  transition: 0.5s;
}
.rating label:hover:after,
.rating label:hover~ label:after,
.rating input:checked ~ label:after  {
  opacity: 0;
}
.form-control.tall {
  height: 150px;
}
.review-wrap {
  width: 250px;
  height: 250px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: white;
  font-family: 'Montserrat';
  color: #1F2041BF;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.review-name {
  font-weight: bolder;
  padding: 20px 20px 10px 20px;
}
.review-name img {
  width: 50px;
  height: 50px;
  border-radius: 36px;
}
.review-rating {
  height: 25px;
  width: 100px;
}
.quote img {
  width: 20px;
  height: 15px;
}
.page-display {
  display: inline-flex;
}
.split-3 {
  display: grid;
  grid-gap: 15px;
  max-width: 90%;
  grid-auto-flow: column;
}
.split-2 {
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: row;
  justify-content: center;
  width: 100%;
}
@media (min-width: 950px) {
  .split-2 {
    grid-auto-flow: column;
    position: relative;
    justify-content: flex-start;
    width: 90vw;
  }
  .storyboard-wrap {
    max-width: 60vw;
    width: 90%;
  }
  .profile {
    display: grid;
    justify-content: center;
    margin-top: 5px;
  }
  .profile-col {
    width: auto;
    padding-right: 50px;
  }
}

.form-control.extra-tall {
  min-height: 200px;
  flex: 1 1 auto;
}
.center-content {
  display: grid;
  justify-content: center;
}
.message {
  width: 450px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background: white;
  font-family: "Montserrat";
  padding: 0 10px 0 10px;
}
.message.sent {
  justify-self: end;
  text-align: right;
}
.message.sent img {
  width: 57px;
  height: 42px;
  float: right;
  margin: 5px 10px 5px 10px;
}
.message.recieved img {
  width: 60px;
  height: 60px;
  border-radius: 36px;
  margin: 5px 10px 5px 10px;
}
.message-padding {
  width: 100vw;
  height: 180px;
}
.message-form {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  width: 60vw;
  bottom: 0;
  background: white;
  width: 100vw;
  padding-bottom: 50px;
  padding-top: 10px;
}
.in-line {
  display: flex;
}
@media (max-width: 800px) {
  .message-form {
    width: 95vw;
  }
  .message-list {
    width: 95vw
  }
}
.message-list {
  display: grid;
  grid-auto-flow: row;
  min-width: 460px;
  width: 60vw;
}
.message-display {
  display: grid;
  justify-items: center;
  grid-auto-flow: row;
}
.profile-wrap {
  font-family: "Quicksand";
  font-weight: bolder;
  font-size: large;
  width: 360px;
  height: 120px;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  align-items: center;
}
.profile-wrap .profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 56px;
}

.profile-wrap img {
  width: 32px;
  height: 32px;
}
.profile-wrap div {
  padding-right: 10px;
}
.split .favourite {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 24px;
  color: #FFF;
  background-image: linear-gradient(#BC9CFF, #8BA4F9);

  max-height: 44px;
}
.split h1 {
  padding-right: 10px;
}
.split .favourite p {
  position: absolute;
  bottom: -5px;
  right: 25px;
}
.top-part {
  display: flex;
}
.bottom-part {
  display: flex;
}
.piece {
  padding-right: 15px;
}
.materials-display {
  width: 360px;
  height: 350px;
  background: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: grid;
  grid-template-columns: 100%;
  overflow-y: scroll;
}
.center-materials {
  display: grid;
  grid-gap: 0;
  width: 100%;
  justify-content: center;
}
.material {
  width: 320px;
  height: 100px;
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Montserrat";
}
.material-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.material-title {
  max-width: 360px;
  font-weight: bolder;
}
.materials-upload {
  width: 360px;
}
.width-360 {
  max-width: 360px;
}
.commission-wrap.materials {
  opacity: 100%;
  margin-right: 20px;
}
@media (max-width: 950px) {
  .commission-wrap.materials {
    opacity: 0%;
    position: absolute;
  }
  .profile-center {
    width: 95vw;
    display: grid;
    justify-content: center;
  }
}
.Button.Main.frame {
  position: absolute;
}
.upload_materials_hidden {
  position: absolute;
  margin-left: 93px;
  width: 176px;
  height: 57px;
  opacity: 0;
}
.Button.Main.material {
}
.material-picker {
  position: absolute;
  margin-left: 90px;
  z-index: 1;
  opacity: 0;
  height: 58px;
}
.frame-input {
  width: 100%;
  height: 57px;
  display: grid;
}
.frame-input .Button.Secondary {
  margin-left: 170px;
}
.frame-picker {
  position: absolute;
  z-index: 1;
  opacity: 0;
  height: 58px;
  width: 165px;
}
.storyboard-wrap .swiper {
  min-width: 200px;
  max-width: 90vw;
}
.center-content .split-2 {
  justify-content: center;
}
.absolute-center {
  display: grid;
  min-height: 100%;
  justify-content: center;
  align-content: center;
}
.profile-center {
  min-height: calc(100vh - 75px);
  display: grid;
  align-items: center;
  align-content: center;
}
.commission-reviews {
  grid-template-columns: 100%;
  position: relative;
  width: 90vw;
}
.profile {
  overflow-x: hidden;
}
.swiper {
  max-height: 250px;
}
@media (max-width: 1000px) {
  .swiper {
    min-width: 800px;
    max-width: 90vw;
    position: relative;
    left: 0;

  }
}
