{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <h1> {{ reviewed_commission.title }}'s Reviews </h1>

  <table class="table table-hover table-bordered table-dark">
    <tr>
      <th> id </th>
      <th> commission_reviewed </th>
      <th> review_owner </th>
      <th> rating </th>
      <th> message </th>
    </tr>
    {% for review in review_list %}
      <tr>
        <td> {{ review.id }}  </td>
        <td> <a href="{{ url_for('update_commission_review', id=review.id) }}"> {{ review.commission_reviewed }} </a> </td>
        <td> {{ review.review_owner }} </td>
        <td> {{ review.rating }} </td>
        <td> {{ review.message }} </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
