{% extends 'base.html' %}



{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <h1> Manage {{ commission_to_display.title }}'s Storyboards </h1>
  <br/>

  <!-- CREATE NEW STORYBOARD FORM -->
  <form action="/manage_storyboards/{{ commission_to_display.id }}" method="POST">
    {{ create_storyboards_form.hidden_tag() }}

    {{ create_storyboards_form.title.label(class="form-label") }}
    {{ create_storyboards_form.title(class="form-control") }}
    <br/>
    {{ create_storyboards_form.status.label(class="form-label") }}
    {{ create_storyboards_form.status(class="form-control") }}
    <br/>
    <a href="{{ url_for('manage_materials', id=commission_to_display.id) }}" class="btn btn-danger">Back</a>
    {{ create_storyboards_form.submit(class="btn btn-primary") }}
  </form>
  <br/><br/>

  <!-- DISPLAY CAROUSELS -->
  {% for storyboard in storyboards_to_display %}
    <h1> {{ storyboard.id }} : {{ storyboard.title }} : {{ storyboard.status }} </h1>
    <!-- Slider main container -->
      <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for material in storyboard_materials_dict[storyboard.id] %}
            <div class="swiper-slide">
              <img src="{{ url_for('static', filename='material/'+material.filename)}}" class="d-block w-100" alt="{{ material.title }}">
            </div>
          {% endfor %}
        </div>
        <!-- left/right controls -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </div>

    <br/>

    <!-- ADD NEW FRAME FORM -->
    <form action="/add_storyboard_frame/{{ storyboard.id }}{{ commission_to_display.id }}" method="POST" enctype="multipart/form-data">
      {{ add_frame_form.hidden_tag() }}

      {{ add_frame_form.frame.label(class="form-label") }}
      {{ add_frame_form.frame(class="form-control") }}
      <br/>

      {{ add_frame_form.submit(class="btn btn-primary") }}
      <td><a href="{{ url_for('delete_storyboard', Sid=storyboard.id, Cid=commission_to_display.id) }}" class="btn btn-danger">Delete Storyboard</a></td>
      </form>
      <br/><br/>

  {% endfor %}


  <!-- Swiper JavaScript -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
      });
  </script>

{% endblock %}
