{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <h1> Manage {{ commission_to_display.title }}'s Storyboards </h1>

  {% for storyboard in storyboards_to_display %}
    <h1> {{ storyboard.id }} : {{ storyboard.title }} : {{ storyboard.status }} </h1>
    <!-- Slider main container -->
      <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for material in storyboard_materials_dict[storyboard.id] %}
            <div class="swiper-slide">
              <img src="{{ url_for('static', filename='material/'+material.filename)}}" class="d-block w-100" alt="{{ material.title }}">
            </div>
          {% endfor %}
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- left/right controls -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </div>

    <br/>
  {% endfor %}

  <!-- Swiper JavaScript -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
        pagination: { el: ".swiper-pagination", dynamicBullets: true, }
      });
  </script>



{% endblock %}
