{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor %}

  <div class="absolute-center">
    <div id="content">
      <center>
        <h1>Error 404</h1>
        <h5>Don't worry, we're lost too...</h5>

        <br/> <br/> <br/>

        <h5>Let's get back on track</h5>
        <br/>
        <a href="{{ url_for('dashboard') }}" class="Button Secondary">Dashboard</a>
      </center>
    </div>
  </div>

{% endblock %}
