{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor %}

  <div class="absolute-center">
    <div id="content">
      <center>
        <h1>Delete Account</h1>
        <h5>This is important...</h5>

        <br/><br/><br/>

        <form action="{{ url_for('confirm_delete')}}" method="POST">
          <div id="content">
            {{ confirm_delete_form.hidden_tag() }}

            <a href="{{ url_for('settings') }}" class="Button Secondary">Cancel</a>
            {{ confirm_delete_form.confirm(class="Button Main") }}
          </div>
        </form>
      </center>
    </div>
  </div>

{% endblock %}
