{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <center>
      <h1>Review {{ user_to_display.name}}</h1>
      <h5>Be honest!</h5>
    </center>

    <form action="{{ url_for('create_user_review', id=user_to_display.id)}}" method="POST">
      {{ create_user_review_form.hidden_tag() }}

        {{ create_user_review_form.rating.label(class="form-label") }}
        <div class="rating">
        {% for choice in create_user_review_form.rating %}

          {% if loop.index == 1 %}
            {{ choice(class="rating1", id="5")}}<label for="5"></label>
          {% elif loop.index == 2 %}
            {{ choice(class="rating2", id="4")}}<label for="4"></label>
          {% elif loop.index == 3 %}
            {{ choice(class="rating3", id="3")}}<label for="3"></label>
          {% elif loop.index == 4 %}
            {{ choice(class="rating4", id="2")}}<label for="2"></label>
          {% else %}
            {{ choice(class="rating5", id="1")}}<label for="1"></label>
          {% endif %}
        {% endfor %}
      </div>
      <br/>


      {{ create_user_review_form.message.label(class="form-label") }}
      {{ create_user_review_form.message(class="form-control tall") }}
      <br/>

      <center>
        <a href="{{ url_for('view_profile', id=user_to_display.id)}}" class="Button Main">Back</a>
        {{ create_user_review_form.submit(class="Button Secondary") }}
      </center>
    </form>
    <br/><br/>
  </div>

{% endblock %}
