{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <center><h1> Create Commission </h1>
    <h5> Let's Do This! </h5></center>
    <br/>

    <div class="center-content">
      <div class="split-2">
        <div class="split">
          <form action="{{ url_for('create_commission')}}" method="POST" enctype="multipart/form-data">
            {{ create_commission_form.hidden_tag() }}

            {{ create_commission_form.cover_image.label(class="form-label file") }}
            <div class="file-wrap">
              <div class="file-outline"><center><p>+</p></center></div>
              {{ create_commission_form.cover_image(class="image-input", onchange="loadFile(event)") }}
              <img id="output" class="upload-file">
            </div>
            <br/>

            {{ create_commission_form.medium.label(class="form-label") }}
            {{ create_commission_form.medium(class="form-control") }}
            <br/>

            {{ create_commission_form.genre.label(class="form-label") }}
            {{ create_commission_form.genre(class="form-control") }}
            <br/>

            {{ create_commission_form.status.label(class="form-label") }}
            <div class="radio-input">
              {% for status in create_commission_form.status %}
                <div class="dot">
                  {{ status(class="form-check") }} {{ choices[loop.index-1] }}
                </div>
              {% endfor %}
            </div>
        </div>
        <div class="split">
            <div class="flex-box-column">
              {{ create_commission_form.title.label(class="form-label") }}
              {{  create_commission_form.title(class="form-control") }}
              <br/>

              {{ create_commission_form.description.label(class="form-label") }}
              {{ create_commission_form.description(class="form-control extra-tall") }}
            </div>
        </div>
      </div>
    </div>

        <center>
          <br/>
          <h5> Don't forget to double-check your info! </h5>
          <a href="{{ url_for('dashboard')}}" class="Button Main">Cancel</a>
          {{ create_commission_form.submit(class="Button Secondary") }}
          <br/>
          <br/>
        </center>
    </form>
  </div>

  <script>
    var loadFile = function(event) {
    	var image = document.getElementById('output');
    	image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

{% endblock %}
