{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <!-- Dashboard Form -->
  <form action="" method="POST">
    <div class="dashboard-form">
      {{ dashboard_form.hidden_tag() }}
      <div class="sort-by">{{ dashboard_form.sort_by(class="form-control dash", onchange="form.submit()") }}</div>
      <div class="dash-search">
        <div class="filter">{{ dashboard_form.search_type(class="form-control dash", onchange="form.submit()") }}</div>
        <div class="search">{{ dashboard_form.search_bar(class="form-control dash search") }}</div>
      </div>
    </div>
  </form>

  <div class=dashboard-wrap>
    <div class="dash-grid">
      {% if search_type == 'Profiles' %}
        {% for user_to_display in list_to_display %}
          <div class="profile-wrapper dashboard">
            {% if current_user.id != user_to_display.id and user_to_display.is_deleted == 0 %}
              <a href="{{ url_for('message', id=user_to_display.id) }}"> <img class="message-icon" src={{ url_for('static', filename='icons/message.png') }}> </a>
            {% endif %}
            <br/>
            <center>
            {% if user_to_display.profile_picture and user_to_display.is_deleted == 0 %}
              <img class="profile-picture" src={{ url_for('static', filename='profile_picture/'+user_to_display.profile_picture) }}>
            {% else %}
              <img class="profile-picture" src={{ url_for('static', filename='profile_picture/default.png') }}>
            {% endif %}

            {% if user_to_display.is_deleted == 0 %}
              <a href={{ url_for('view_profile', id=user_to_display.id) }}><div class="profile-card-title"> {{ user_to_display.name }} </div></a>
              <div class="profile-card-info"><img src={{ url_for('static', filename='icons/role.png') }}> {{ user_to_display.role }}</div>
            {% else %}
              <div class="profile-card-title"> Deleted User </div>
              <div class="profile-card-info"><img src={{ url_for('static', filename='icons/role.png') }}> N/A. </div>
            {% endif %}
            </center>
            <div class="profile-inner">
              <div class="profile-inner-wrap">

                <center><div class="profile-card-title">User Reviews </div>
                <div class="profile-card-info"><img src={{ url_for('static', filename='icons/user-review-star.png') }}>
                  {% if user_to_display.processed_rating and user_to_display.is_deleted == 0 %}
                    <b>{{ user_to_display.processed_rating }}</b>
                    <div>({{ no_of_user_reviews }} reviews)</div>
                  {% else %}
                    <b>N/A.</b>
                    <div>0 reviews</div>
                  {% endif %}
                </div></center>
              </div>
                <center><div class="profile-card-title">Commission Reviews </div>
                <div class="profile-card-info"><img src={{ url_for('static', filename='icons/commission-review-star.png') }}>
                  {% if user_to_display.total_no_of_commission_reviews > 0 and user_to_display.is_deleted == 0 %}
                    <b>{{ user_to_display.average_commission_rating / user_to_display.total_no_of_commission_reviews }}</b>
                    <div>({{ user_to_display.total_no_of_commission_reviews }} reviews)</div>
                  {% else %}
                    <b>N/A.</b>
                    <div>0 reviews</div>
                  {% endif %}
                </div></center>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for item in list_to_display %}
          <div class="commission-wrap">
            <div class="cover-image">
              {% if item.cover_image != "" and item.cover_image != None %}
                <img src={{ url_for('static', filename='material/'+item.cover_image) }}>
              {% endif %}
            </div>

            <div class="status">
              {% if item.status|lower == "active" %}
                <img src={{ url_for('static', filename='icons/status-active.png') }}>
              {% elif item.status|lower == "starting" %}
                <img src={{ url_for('static', filename='icons/status-starting.png') }}>
              {% else %}
                <img src={{ url_for('static', filename='icons/status-finished.png') }}>
              {% endif %}
            </div>

            <div class="title-and-description">
              <a href="{{ url_for('view_commission', id=item.id) }}"> <p class="title">{{ item.title|title }}</p> </a>
              <p class="description">{{ item.description|truncate(75, True,'...') }}</p>
            </div>

            <div class="information-wrap">

              <p class="info"><img src={{ url_for('static', filename='icons/star.png') }}>
                {% if item.processed_rating == None or item.processed_rating == "" or item.processed_rating == 0.0 %}
                  N/A
                {% else %}
                  {{ item.processed_rating }}
                {% endif %} </p>
              <p class="info"><img src={{ url_for('static', filename='icons/folder.png') }}> {{ item.medium }}</p>
              <p class="info"><img src={{ url_for('static', filename='icons/schedule.png') }}> {{ item.last_updated|string|truncate(10,True,'') }}</p>
            </div>

            <div class="favourite-icon">
              {% if item.id in favourited_commissions %}
                <img src={{ url_for('static', filename='icons/favourited.png') }}>
              {% else %}
                <img src={{ url_for('static', filename='icons/unfavourited.png') }}>
              {% endif %}
              <p class="favourites">{{ item.no_of_favourites }}</p>
            </div>
          </div>
      {% endfor %}
    {% endif %}

    </div>
  </div>

{% endblock %}
