{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <h1> Index </h1>

  <p> Hello, {{ current_user.name }} </p>

{% endblock %}
