{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor %}

  <div class="absolute-center">
    <div id="content">
      <center><h1> Login </h1> <h5> Welcome Back! </h5></center>

      <br/> <br/> <br/>

      <div class="user-input">
        <form action="{{ url_for('login')}}" method="POST">
          {{ login_form.hidden_tag() }}
          <div class="input-wrap">
            {{ login_form.email.label(class="form-label") }}
            {{ login_form.email(class="form-control") }}
            <br/>
          </div>
          <div class="input-wrap">
            {{ login_form.password.label(class="form-label") }}
            {{ login_form.password(class="form-control") }}
            <br/>
          </div>
          <center>{{ login_form.submit(class="Button Secondary") }}</center>
        </form>
      </div>

      <br/> <br/> <br/>

      <center><h5> Don't have an account? Click here </h5>
      <br/>
      <a class="Button Main" href="{{ url_for('signup') }}"> <span>Sign up</span> </a></center>
    </div>
  </div>

{% endblock %}
