{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}
<div class="absolute-center">
  <div class="split-2">
    <div class="split">
      <div class="center-materials">
          <div class="commission-wrap materials">
            <div class="status">
              {% if commission_to_display.status|lower == "active" %}
                <img src={{ url_for('static', filename='icons/status-active.png') }}>
              {% elif commission_to_display.status|lower == "starting" %}
                <img src={{ url_for('static', filename='icons/status-starting.png') }}>
              {% else %}
                <img src={{ url_for('static', filename='icons/status-finished.png') }}>
              {% endif %}
            </div>
            <div class="cover-image">
            {% if commission_to_display.cover_image %}
              <img src={{ url_for('static', filename='material/'+commission_to_display.cover_image) }}>
            {% endif %}
            </div>
          </div>

          <div class="width-360">
            <center><h5 class="material-title"> {{ commission_to_display.title }}'s Materials </h5></center>
          </div>

          <div class="materials-display">
            {% for item in materials_to_display %}
                <div class="material">
                  <div class="material-info">
                    <div class="material-title"> {{ item.title|truncate(28,'...') }} </div>
                    <div> {{ uploaders_to_display[loop.index]|truncate(10) }} </div>
                    <div> {{ item.file_type|truncate(8) }} - {{ item.file_size }} KB</div>
                    <div> {{ item.date_created|string|truncate(10,True,'') }} </div>
                  </div>



                  <div class="material-buttons">
                    <div class="material-button update">
                      <a href="#"> <img src={{ url_for('static', filename='icons/update.png') }}> </a>
                    </div>
                    <div class="material-button download">
                      <a href="{{ url_for('download_material', Mid=item.id) }}"> <img src={{ url_for('static', filename='icons/download.png') }}> </a>
                    </div>
                    <div class="material-button delete">
                      <a href="{{ url_for('remove_material', Cid=commission_to_display.id, Mid=item.id) }}"> <img src={{ url_for('static', filename='icons/delete.png') }}> </a>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
          <br/>

          <div class="materials-upload">
            <form action="/add_material/{{ commission_to_display.id }}" method="POST" enctype="multipart/form-data">
              {{ upload_materials_form.hidden_tag() }}
              {{ upload_materials_form.file(class="upload_materials_hidden", onchange="form.submit()") }}
              <div class="Button Main">upload file</div>
            </form>
          </div>
      </div>
    </div>


    <div class="split">


      <div class="storyboard-wrap">

        <!-- CREATE NEW STORYBOARD FORM -->
        <form action="/add_storyboards/{{ commission_to_display.id }}" method="POST">
          <center><h5> Create Storyboard </h5></center>
          {{ create_storyboards_form.hidden_tag() }}

          {{ create_storyboards_form.title.label(class="form-label") }}
          {{ create_storyboards_form.title(class="form-control") }}
          <br/>
          {{ create_storyboards_form.status.label(class="form-label") }}
          {{ create_storyboards_form.status(class="form-control") }}
          <br/>
          <center>
            {{ create_storyboards_form.submit(class="Button Secondary") }}
          </center>
        </form>
        <br/><br/>

      <!-- DISPLAY CAROUSELS -->
      {% for storyboard in storyboards_to_display %}
        <h1> {{ storyboard.id }} : {{ storyboard.title }} : {{ storyboard.status }} </h1>
        <div class="info"><img src={{ url_for('static', filename='icons/schedule.png') }}> {{ storyboard.date_created|string|truncate(10, True, '') }}</div>
        <!-- Slider main container -->
        {% if storyboard_materials_dict[storyboard.id] %}
          <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                {% for material in storyboard_materials_dict[storyboard.id] %}
                  <div class="swiper-slide">
                    <img src="{{ url_for('static', filename='material/'+material.filename)}}" class="d-block w-100" alt="{{ material.title }}">
                  </div>
                {% endfor %}

            </div>
            <!-- left/right controls -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        {% endif %}
        <br/>

        <!-- ADD NEW FRAME FORM -->
          <form action="/add_storyboard_frame/{{ storyboard.id }} {{ commission_to_display.id }}" method="POST" enctype="multipart/form-data">
            {{ add_frame_form.hidden_tag() }}
            <div class="frame-input">
              {{ add_frame_form.frame(class="frame-picker", onchange="form.submit()") }}
              <div class="Button Main frame">add frame</div>
              <a href="{{ url_for('delete_storyboard', Sid=storyboard.id, Cid=commission_to_display.id) }}" class="Button Secondary">Delete</a>
            </div>
          </form>
        <br/><br/>
      {% endfor %}
    </div>
  </div>

  </div>
</div>

  <!-- Swiper JavaScript -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
      });
  </script>

{% endblock %}
