{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}


  <!-- Display Messages Here -->
  <div class="message-display">
    <div class="message-list">
    {% for message in full_message_list %}

      <br/>

      {% if message.sending_user == current_user.id %}
        <div class="message sent">
          <img src={{ url_for('static', filename='icons/message-quote.png') }}>
          {{ message.message }}
        </div>
      {% else %}
        <div class="message recieved">
          {% if other_user.profile_picture %}
            <img src={{ url_for('static', filename='profile_picture/'+other_user.profile_picture) }}>
          {% else %}
            <img src={{ url_for('static', filename='profile_picture/default.png') }}>
          {% endif %}

          {{ message.message }}
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class="message-padding"></div>
  </div>

  <div class="message-form">
    <form action="{{ url_for('message', id=other_user.id)}}" method="POST">
      {{ message_form.hidden_tag() }}

      {{ message_form.message(class="form-control") }}

      <center>
        <br/>
        <a href="{{ url_for('view_profile', id=other_user.id) }}" class="Button Main">Back</a>
        {{ message_form.submit(class="Button Secondary") }}
      </center>



    </form>
    </div>


{% endblock %}
