<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/style.css') }}", rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <img class="logo" src={{ url_for('static', filename='icons/collab.png') }}>
    <ul>
      <div class="link-list">
        <li><a class="{% if current_page=='dashboard'%}current{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a class="{% if current_page=='create_commission'%}current{% endif %}" href="{{ url_for('create_commission') }}">Create Commission</a></li>
        <li><a class="{% if current_page=='settings'%}current{% endif %}" href="{{ url_for('settings') }}">Settings</a></li>
        <!--<li><span id="separating-line"></span></li>-->
        <li><a href="#">v</a>
          <ul>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </li>
        <li><a class="{% if current_page=='current_profile'%}current{% endif %}" href="{{ url_for('view_profile', id=current_user.id) }}">{{ current_user.name }}</a></li>
        <li>
          {% if current_user.profile_picture %}
            <img class="{{ current_user.status }}" src="{{ url_for('static', filename='profile_picture/'+current_user.profile_picture) }}">
          {% else %}
            <img class="{{ current_user.status }}" src={{ url_for('static', filename='profile_picture/default.png') }}>
          {% endif %}
        </li>
      </div>
    </ul>
  </nav>
</body>

</html>
