<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/style.css') }}", rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <img class="logo" src={{ url_for('static', filename='icons/collab.png') }}>
    <ul>
      <div class="link-list">
        <li><a class="{% if current_page=='dashboard'%}current{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('signup') }}">Create Commission</a></li>
        <li><a href="{{ url_for('signup') }}">Settings</a></li>
        <!--<li><span id="separating-line"></span></li>-->
        <li class="navbar-button"><a href="{{ url_for('login') }}" class="Button Secondary">Login</a></li>
        <li class="navbar-button"><a href="{{ url_for('signup') }}" class="Button Main">Register</a></li>
      </div>
    </ul>
  </nav>
</body>

</html>
