{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <center>
      <h1>{{ current_user.name }}'s Settings</h1>
      <h5>Up To Date</h5>
    </center>

    <br/>
    <form action="{{ url_for('settings') }}" method="POST">
      {{ settings_delete.hidden_tag() }}

      {{ settings_delete.delete_account.label(class="form-label") }}
      {{ settings_delete.delete_account(class="form-control") }}
      <br/>
      <center>{{ settings_delete.delete(class="Button Secondary") }}</center>
    </form>

    <br/>
    <br/>

    <form action="{{ url_for('update_settings') }}" method="POST">
      {{ settings_form.hidden_tag() }}

      {{ settings_form.colourblind.label(class="form-label") }}
      {{ settings_form.colourblind(class="form-control", value=current_user.colour_scheme) }}
      <br/>

      {{ settings_form.status.label(class="form-label") }}
      <div class="radio-input choice-4">
        {% for status in settings_form.status %}
          <div class="dot">
            {{ status(class="form-input") }} {{ choices[loop.index-1] }}
          </div>
        {% endfor %}
        <br/>
      </div>
      <p class="form-label"> Account Logout </p>

      <center>
        <a href="{{ url_for('logout') }}" class="Button Secondary">Logout</a>
        <br/>
        <br/>
        <br/>
        <h5> Double Double-Check Your Changes! </h5>
        <a href="{{ url_for('dashboard') }}" class="Button Main">Cancel</a>
        {{ settings_form.save_changes(class="Button Secondary") }}
      </center>
    </form>
  </div>

{% endblock %}
