{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <div id="content">
      <center> <h1> Sign Up </h1> <h5> Nice to Meet You! </h5> </center>
      <br/> <br/>

      <form action="{{ url_for('signup')}}" method="POST">
        {{ signup_form.hidden_tag() }}

        {{ signup_form.name.label(class="form-label") }}
        {{ signup_form.name(class="form-control standard") }}
        <br/>

        {{ signup_form.email.label(class="form-label") }}
        {{ signup_form.email(class="form-control standard") }}
        <br/>

        {{ signup_form.password_hash.label(class="form-label") }}
        {{ signup_form.password_hash(class="form-control standard") }}
        <br/>

        {{ signup_form.password_hash2.label(class="form-label") }}
        {{ signup_form.password_hash2(class="form-control standard") }}
        <br/>

        {{ signup_form.role.label(class="form-label") }}
        <div class="radio-input">
          {% for role in signup_form.role %}
            <div class="dot">
              {{ role(class="form-check") }} {{ choices[loop.index-1] }}
            </div>
          {% endfor %}
        </div>
        <br/>

        <center>
          {{ signup_form.submit(class="Button Secondary") }}
        </center>
      </form>
      <br/>

      <center> <h5> Already have an account? Click here</h5> </center>
      <br/>
      <center><a class="Button Main" href="{{ url_for('login') }}">Log in</a></center>
    </div>
  </div>

{% endblock %}
