{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <center><h1> Update User Profile </h1>
    <h5> Let's Get up to Speed </h5></center>
    <br/>

    <form action="/update_user/{{ user_to_update.id }}" method="POST" enctype="multipart/form-data">
      {{ update_user_form.hidden_tag() }}

      {{ update_user_form.profile_picture.label(class="form-label") }}
      <div class="file-wrap">
        <div class="file-outline"><center><p>+</p></center></div>
        {{ update_user_form.profile_picture(class="image-input", value=user_to_update.profile_picture, onchange="loadFile(event)") }}
        <img id="output" class="upload-file">
        {% if user_to_update.profile_picture %}
          <img class="display-image" src={{ url_for('static', filename='profile_picture/'+user_to_update.profile_picture) }}>
        {% endif %}
      </div>

      <div id="content">
        <a href="{{ url_for('remove_profile_picture', id=user_to_update.id) }}" class="Button Main">Remove</a>
      </div>
      <br/>


      {{ update_user_form.name.label(class="form-label") }}
      {{ update_user_form.name(class="form-control", value=user_to_update.name) }}
      <br/>

      {{ update_user_form.bio.label(class="form-label") }}
      {% if user_to_update.bio != "None" %}
        {{ update_user_form.bio(class="form-control", value=user_to_update.bio) }}
      {% else %}
        {{ update_user_form.bio(class="form-control", value="") }}
      {% endif %}
      <br/>

      {{ update_user_form.password.label(class="form-label") }}
      {{ update_user_form.password(class="form-control", value="") }}
      <br/>

      {{ update_user_form.confirm_password.label(class="form-label") }}
      {{ update_user_form.confirm_password(class="form-control", value="") }}
      <br/>

      {{ update_user_form.role.label(class="form-label") }}
      <div class="radio-input">
        {% for role in update_user_form.role %}
          <div class="dot">
            {{ role(class="form-check") }} {{ choices[loop.index-1] }}
          </div>
        {% endfor %}
      </div>
      <br/>

      <center>
      <a href="{{ url_for('view_profile', id=user_to_update.id) }}" class="Button Main">Back</a>
      {{ update_user_form.submit(class="Button Secondary") }}
      </center>
    </form>
    <br/><br/>
  </div>

  <script>
    var loadFile = function(event) {
    	var image = document.getElementById('output');
    	image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

  {% endblock %}
