{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}

  <div class="absolute-center">
    <center><h1> Update {{ commission_to_update.title }}</h1>
    <h5> Let's Do This! </h5></center>
    <br/>

    <div class="center-content">
      <div class="split-2">
        <div class="split">
          <form action="/update_commission/{{ commission_to_update.id }}" method="POST" enctype="multipart/form-data">
            {{ update_commission_form.hidden_tag() }}

            {{ update_commission_form.cover_image.label(class="form-label") }}
            <div class="file-wrap">
              <div class="file-outline"><center><p>+</p></center></div>
              {{ update_commission_form.cover_image(class="image-input", value=commission_to_update.cover_image, onchange="loadFile(event)") }}
              <img id="output" class="upload-file">
              {% if commission_to_update.cover_image %}
                <img class="display-image" src={{ url_for('static', filename='material/'+commission_to_update.cover_image) }}>
              {% endif %}
            </div>
            <br/>

            <!-- DELETE COVER_IMAGE -->

            {{ update_commission_form.medium.label(class="form-label") }}
            {{ update_commission_form.medium(class="form-control", value=commission_to_update.medium) }}
            <br/>

            {{ update_commission_form.genre.label(class="form-label") }}
            {{ update_commission_form.genre(class="form-control", value=commission_to_update.genre) }}
            <br/>

            {{ update_commission_form.status.label(class="form-label") }}
            <div class="radio-input">
              {% for status in update_commission_form.status %}
                <div class="dot">
                  {{ status(class="form-check") }} {{ choices[loop.index-1] }}
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="split">
            <div class="flex-box-column">
              {{ update_commission_form.title.label(class="form-label") }}
              {{ update_commission_form.title(class="form-control", value=commission_to_update.title) }}
              <br/>

              {{ update_commission_form.description.label(class="form-label") }}
              {{ update_commission_form.description(class="form-control extra-tall", value=commission_to_update.description) }}
              <br/>
            </div>
        </div>
      </div>

      <center>
        <br/>
        <h5> Don't forget to double-check your info! </h5>
        <a href="{{ url_for('view_commission', id=commission_to_update.id) }}" class="Button Main">Back</a>
        {{ update_commission_form.submit(class="Button Secondary") }}
        <a href="{{ url_for('delete_commission', id=commission_to_update.id) }}" class="Button Main">Delete</a>
        <br/>
        <br/>
      </center>
    </form>
    <br/><br/>
  </div>

  <script>
    var loadFile = function(event) {
    	var image = document.getElementById('output');
    	image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>

  {% endblock %}
