{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}
  <div class=absolute-center>
    <div class="page-display">
      <div class="split-2">
          <div class="split">
            <div class="profile-col">
              <div class="profile-center">
                <!-- PROFILE INFO DIV -->
                <div class="profile-wrapper">
                  {% if current_user.id != user_to_display.id %}
                    <a href="{{ url_for('message', id=user_to_display.id) }}"> <img class="message-icon" src={{ url_for('static', filename='icons/message.png') }}> </a>
                  {% endif %}
                  <br/>
                  <center>
                  {% if user_to_display.profile_picture %}
                    <img class="profile-picture" src={{ url_for('static', filename='profile_picture/'+user_to_display.profile_picture) }}>
                  {% else %}
                    <img class="profile-picture" src={{ url_for('static', filename='profile_picture/default.png') }}>
                  {% endif %}
                  <div class="profile-card-title"> {{ user_to_display.name }} </div>
                  <div class="profile-card-info"><img src={{ url_for('static', filename='icons/role.png') }}> {{ user_to_display.role }}</div>
                  </center>
                  <div class="profile-inner">
                    <div class="profile-inner-wrap">
                      <center><div class="profile-card-title">User Reviews </div>
                      <div class="profile-card-info"><img src={{ url_for('static', filename='icons/user-review-star.png') }}>
                        {% if user_to_display.processed_rating  %}
                          <b>{{ user_to_display.processed_rating }}</b> ({{ no_of_user_reviews }} reviews)
                        {% else %}
                          <b>N/A.</b> (0 reviews)
                        {% endif %}
                      </div></center>
                    </div>
                    <div class="profile-inner-wrap">
                      <center><div class="profile-card-title">Commission Reviews </div>
                      <div class="profile-card-info"><img src={{ url_for('static', filename='icons/commission-review-star.png') }}>
                        {% if user_to_display.total_no_of_commission_reviews > 0 %}
                          <b>{{ user_to_display.average_commission_rating / user_to_display.total_no_of_commission_reviews }}</b> ({{ user_to_display.total_no_of_commission_reviews }} reviews)
                        {% else %}
                          <b>N/A.</b> (0 reviews)
                        {% endif %}
                      </div></center>
                    </div>
                  </div>
                  <div class="profile-inner">
                    <div class="profile-inner-wrap">
                      <center><div class="profile-card-title"><b>{{ user_to_display.no_of_favourites }}</b></div>
                      <div class="profile-card-info">Favourites</div></center>
                    </div>
                    <div class="profile-inner-wrap">
                      <center><div class="profile-card-title">{{ no_of_commissions }}</div>
                      <div class="profile-card-info">Commissions</div></center>
                    </div>
                  </div>
                </div>
                <br/>
                <!-- PROFILE BIOGRAPHY DIV -->
                <div class="profile-wrapper">
                  <br/>
                  <center><div class="profile-card-title">Profile Biography</div></center>
                  <div class="profile-inner">
                    <div class="profile-card-info">{{ user_to_display.bio }}</div>
                  </div>
                  <br/>
                  {% if current_user.is_authenticated %}
                    {% if current_user.id == user_to_display.id %}
                      <div class="bio-buttons">
                        <center><a href="{{ url_for('update_user', id=current_user.id) }}" class='Button Secondary'>Update</a></center>
                      </div>
                    {% else %}
                      <center><div class="bio-buttons">
                        {% if favourited == False %}
                          <a href="{{ url_for('favourite_user', id=user_to_display.id) }}" class="Button Secondary">Favourite</a>
                        {% else %}
                          <a href="{{ url_for('unfavourite_user', id=user_to_display.id) }}" class="Button Secondary">Unfavourite</a>
                        {% endif %}

                        {% if reviewed == False %}
                          <a href="{{ url_for('create_user_review', id=user_to_display.id) }}" class="Button Secondary">Review</a>
                        {% else %}
                          <a href="{{ url_for('update_user_review', id=current_user_review_id) }}" class="Button Secondary">Update Review</a>
                        {% endif %}
                      </div></center>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
          </div>
        </div>
        <div class="split">
          <div class="profile-col">
            <h1>User Commissions :</h1>
            <!-- User Commissions Div -->
            <div class="profile-carousel">
              {% if user_commission_list != [] %}
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    {% for item in user_commission_list %}
                      {% if item != None %}
                        <div class="swiper-slide">
                          <div class="commission-wrap commission-slide">
                            <div class="slide-cover-image">
                              {% if item.cover_image != "" and item.cover_image != None %}
                                <img src={{ url_for('static', filename='material/'+item.cover_image) }}>
                              {% endif %}
                            </div>

                            <div class="status">
                              {% if item.status|lower == "active" %}
                                <img src={{ url_for('static', filename='icons/status-active.png') }}>
                              {% elif item.status|lower == "starting" %}
                                <img src={{ url_for('static', filename='icons/status-starting.png') }}>
                              {% else %}
                                <img src={{ url_for('static', filename='icons/status-finished.png') }}>
                              {% endif %}
                            </div>

                            <div class="title-and-description">
                              <a href="{{ url_for('view_commission', id=item.id) }}"> <p class="title">{{ item.title|title }}</p> </a>
                            </div>

                            <div class="information-wrap">

                              <div class="info"><img src={{ url_for('static', filename='icons/star.png') }}>
                                {% if item.processed_rating == None or item.processed_rating == "" or item.processed_rating == 0.0 %}
                                  N/A.
                                {% else %}
                                  {{ item.processed_rating }}
                                {% endif %} </div>
                              <div class="info"><img src={{ url_for('static', filename='icons/folder.png') }}> {{ item.medium }}</div>
                              <div class="info"><img src={{ url_for('static', filename='icons/schedule.png') }}> {{ item.date_created|string|truncate(10, True, '') }}</div>
                            </div>

                            <div class="favourite-icon">
                              {% if item.id in favourited_commissions %}
                                <img src={{ url_for('static', filename='icons/favourited.png') }}>
                              {% else %}
                                <img src={{ url_for('static', filename='icons/unfavourited.png') }}>
                              {% endif %}
                              <p class="favourites">{{ item.no_of_favourites }}</p>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <!-- left/right controls -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              {% else %}
                <h6>Uh Oh! This user hasn't created any commissions.</h6>
              {% endif %}
            </div>

            <h1>Favourite Commissions</h1>
            <!-- Favourite Commissions Div -->
            <div class="profile-carousel">
              {% if favourite_commission_list != [] and favourite_commission_list != [None] %}
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    {% for item in favourite_commission_list %}
                      {% if item != None %}
                      <div class="swiper-slide">
                        <div class="commission-wrap commission-slide">
                          <div class="slide-cover-image">
                            {% if item.cover_image != "" and item.cover_image != None %}
                              <img src={{ url_for('static', filename='material/'+item.cover_image) }}>
                            {% endif %}
                          </div>

                          <div class="status">
                            {% if item.status|lower == "active" %}
                              <img src={{ url_for('static', filename='icons/status-active.png') }}>
                            {% elif item.status|lower == "starting" %}
                              <img src={{ url_for('static', filename='icons/status-starting.png') }}>
                            {% else %}
                              <img src={{ url_for('static', filename='icons/status-finished.png') }}>
                            {% endif %}
                          </div>

                          <div class="title-and-description">
                            <a href="{{ url_for('view_commission', id=item.id) }}"> <p class="title">{{ item.title|title }}</p> </a>
                          </div>

                          <div class="information-wrap">

                            <div class="info"><img src={{ url_for('static', filename='icons/star.png') }}>
                              {% if item.processed_rating == None or item.processed_rating == "" or item.processed_rating == 0.0 %}
                                N/A.
                              {% else %}
                                {{ item.processed_rating }}
                              {% endif %} </div>
                            <div class="info"><img src={{ url_for('static', filename='icons/folder.png') }}> {{ item.medium }}</div>
                            <div class="info"><img src={{ url_for('static', filename='icons/schedule.png') }}> {{ item.date_created|string|truncate(10, True, '') }}</div>
                          </div>

                          <div class="favourite-icon">
                            {% if item.id in favourited_commissions %}
                              <img src={{ url_for('static', filename='icons/favourited.png') }}>
                            {% else %}
                              <img src={{ url_for('static', filename='icons/unfavourited.png') }}>
                            {% endif %}
                            <p class="favourites">{{ item.no_of_favourites }}</p>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <!-- left/right controls -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              {% else %}
                <h6>Uh Oh! This user has no favourited commissions.</h6>
              {% endif %}
            </div>

            <h1>User Reviews</h1>

            {% if review_list != [] %}
              <!-- User Reviews Div -->
              <div class="profile-carousel">
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      {% for item in review_list %}
                        {% if item != None %}
                          <div class="swiper-slide">


                            <div class ="review-wrap"> <div class="review-name">
                              {% if review_owner_list[loop.index-1].profile_picture and review_owner_list[loop.index-1].is_deleted == 0 %}
                                <img src={{ url_for('static', filename='profile_picture/'+review_owner_list[loop.index-1].profile_picture) }}>
                              {% else %}
                                <img src={{ url_for('static', filename='profile_picture/default.png') }}>
                              {% endif %}

                              {% if review_owner_list[loop.index-1].is_deleted == 0 %}
                                {{ review_owner_list[loop.index-1].name }} </div>
                              {% else %}
                                Deleted User </div>
                              {% endif %}

                              <div class="review-rating">
                                {% if item.rating == 1 %}
                                  <img src={{ url_for('static', filename='icons/1-star.png') }}>
                                {% elif item.rating == 2 %}
                                  <img src={{ url_for('static', filename='icons/2-star.png') }}>
                                {% elif item.rating == 3 %}
                                  <img src={{ url_for('static', filename='icons/3-star.png') }}>
                                {% elif item.rating == 4 %}
                                  <img src={{ url_for('static', filename='icons/4-star.png') }}>
                                {% elif item.rating == 5 %}
                                  <img src={{ url_for('static', filename='icons/5-star.png') }}>
                                {% endif %}
                              </div>
                              <div class="quote">
                                <img src={{ url_for('static', filename='icons/quote.png') }}> {{ item.message }}
                              </div>
                            </div>


                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                </div>
              {% else %}
                <h6>Uh Oh! This user has no reviews.</h6>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- Swiper JavaScript -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
      });
  </script>

{% endblock %}
