{% extends 'base.html' %}

{% block content %}

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor%}
  <div class="profile">
    <div class="absolute-center">
        <div class="split-2 commission">
          <div class="split">
            <div class="commission-wrap">
              <div class="status">
                {% if commission_to_display.status|lower == "active" %}
                  <img src={{ url_for('static', filename='icons/status-active.png') }}>
                {% elif commission_to_display.status|lower == "starting" %}
                  <img src={{ url_for('static', filename='icons/status-starting.png') }}>
                {% else %}
                  <img src={{ url_for('static', filename='icons/status-finished.png') }}>
                {% endif %}
              </div>
              <div class="cover-image">
              {% if commission_to_display.cover_image %}
                <img src={{ url_for('static', filename='material/'+commission_to_display.cover_image) }}>
              {% endif %}
              </div>
            </div>

            <div class="profile-wrap">
              <div class="profile-picture">
                {% if commissioner.profile_picture and commissioner.is_deleted == 0 %}
                  <img src={{ url_for('static', filename='profile_picture/'+commissioner.profile_picture) }}>
                {% else %}
                  <img src={{ url_for('static', filename='profile_picture/default.png') }}>
                {% endif %}
              </div>

              <div>
              {% if commissioner.is_deleted == 0 %}
                {{ commissioner.name }} <br/>
              {% else %}
                Deleted User <br/>
              {% endif %}

              {% if commissioner.is_deleted == 0 %}
                <a href="{{ url_for('view_profile', id=commissioner.id) }}"> <img src={{ url_for('static', filename='icons/profile.png') }}></a>
                {% if current_user.is_authenticated and current_user.id != commissioner.id %}
                  <a href="{{ url_for('message', id=commissioner.id) }}"> <img src={{ url_for('static', filename='icons/message.png') }}></a>
                  <a href="{{ url_for('create_user_review', id=commissioner.id) }}"> <img src={{ url_for('static', filename='icons/review.png') }}></a>
                {% endif %}
              {% endif %}
              </div>
            </div>
          </div>

          <div class="split">
            <div class="whole">
              <div class="top-part">
                <h1>{{ commission_to_display.title }}</h1>

                <div class="favourite">
                  {% if is_commissioner == True %}
                    <img src={{ url_for('static', filename='icons/favourited.png') }}>
                  {% else %}
                    {% if favourited == True %}
                      <a href="{{ url_for('unfavourite_commission', id=commission_to_display.id) }}">
                        <img src={{ url_for('static', filename='icons/favourited.png') }}>
                      </a>
                    {% else %}
                      {% if current_user.is_authenticated %}
                        <a href="{{ url_for('favourite_commission', id=commission_to_display.id) }}">
                          <img src={{ url_for('static', filename='icons/unfavourited.png') }}>
                        </a>
                      {% else %}
                        <a href="{{ url_for('login') }}">
                          <img src={{ url_for('static', filename='icons/unfavourited.png') }}>
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                  <p class="favourites">{{ commission_to_display.no_of_favourites }}</p>

                </div>
              </div>

              <div class="bottom-part">
                <div class="piece">
                  <p class="info"><img src={{ url_for('static', filename='icons/star.png') }}>
                  {% if commission_to_display.overall_rating == None or commission_to_display.overall_rating == "" %}
                    N/A
                  {% else %}
                    {{ commission_to_display.processed_rating|int }}
                  {% endif %} </p>
                </div>

                <div class="piece"><p class="info"><img src={{ url_for('static', filename='icons/folder.png') }}> {{ commission_to_display.medium }}</p></div>
                <div class="piece"><p class="info"><img src={{ url_for('static', filename='icons/schedule.png') }}> {{ commission_to_display.date_created|string|truncate(10,True,'') }}</p></div>
              </div>

              {{ commission_to_display.description }}
            </div>

            <br/><br/>

            <div class="button-div">
            <a href="{{ url_for('download_commission_most_recent_materials', id=commission_to_display.id) }}" class="Button Secondary">Download</a>
            {% if current_user.is_authenticated %}
              {% if current_user.id|string == commission_to_display.commissioner|string %}
                <a href="{{ url_for('update_commission', id=commission_to_display.id) }}" class='Button Secondary'>Update</a>
                <a href="{{ url_for('manage_materials', id=commission_to_display.id) }}" class="Button Main">Materials</a>
              {% else %}
                {% if reviewed == False %}
                  <a href="{{ url_for('create_commission_review', id=commission_to_display.id) }}" class="Button Main">Review</a>
                {% else %}
                  <a href="{{ url_for('update_commission_review', id=current_user_review_id) }}" class="Button Main">Update Review</a>
                {% endif %}

                {% if current_user.role == "Writer" and is_creator == False %}
                  <a href="{{ url_for('add_creator', id=commission_to_display.id) }}" class="Button Secondary">Join</a>
                {% endif %}

                {% if is_creator == True %}
                  <a href="{{ url_for('manage_materials', id=commission_to_display.id) }}" class="Button Secondary">Materials</a>
                  <a href="{{ url_for('remove_creator', id=commission_to_display.id) }}" class="Button Main">Abandon</a>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>


      <!-- User Reviews Div -->
      <div class="profile-carousel">
        <div class="commission-reviews">
          <div>
            <br/>
            <h1>Commission Reviews:</h1>
          </div>
          {% if review_list != [] %}
            <!-- Slider main container -->
            <div class="swiper mySwiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                {% for item in review_list %}
                  {% if item != None %}
                    <div class="swiper-slide">
                      <div class ="review-wrap"> <div class="review-name">
                        {% if review_owner_list[loop.index-1].profile_picture and review_owner_list[loop.index-1].is_deleted == 0 %}
                          <img src={{ url_for('static', filename='profile_picture/'+review_owner_list[loop.index-1].profile_picture) }}>
                        {% else %}
                          <img src={{ url_for('static', filename='profile_picture/default.png') }}>
                        {% endif %}

                        {% if review_owner_list[loop.index-1].is_deleted == 0 %}
                          {{ review_owner_list[loop.index-1].name }} </div>
                        {% else %}
                          Deleted User </div>
                        {% endif %}

                        <div class="review-rating">
                          {% if item.rating == 1 %}
                            <img src={{ url_for('static', filename='icons/1-star.png') }}>
                          {% elif item.rating == 2 %}
                            <img src={{ url_for('static', filename='icons/2-star.png') }}>
                          {% elif item.rating == 3 %}
                            <img src={{ url_for('static', filename='icons/3-star.png') }}>
                          {% elif item.rating == 4 %}
                            <img src={{ url_for('static', filename='icons/4-star.png') }}>
                          {% elif item.rating == 5 %}
                            <img src={{ url_for('static', filename='icons/5-star.png') }}>
                          {% endif %}
                        </div>
                        <div class="quote">
                          <img src={{ url_for('static', filename='icons/quote.png') }}> {{ item.message }}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          {% else %}
            <h6>Uh Oh! This commission has no reviews.</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Swiper JavaScript -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
      });
  </script>

{% endblock %}
